<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">
        
	<http auto-config="true" use-expressions="true">
        <intercept-url pattern="/Usuario.xhtml" access="hasRole('ROLE_USER')"/>
        <form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?erro=true"/>
    </http>

	<authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="questionarios"
               users-by-username-query="SELECT username, password, enable FROM usuario WHERE username=?"
               authorities-by-username-query="SELECT Usuario_username as username, autorizacoes_nome as authority FROM usuario_autorizacao WHERE Usuario_username=?"
            />
        </authentication-provider>
    </authentication-manager>
    
   
</b:beans>